<mat-toolbar *ngIf="isHandset$ | async" class="mat-elevation-z8">
  <button
    class="filter-text"
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    Filtrer vos Recherches
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <mat-divider></mat-divider>
    <div class="toolbar">
      <button mat-button (click)="fetchJobListing()">
        <span> Toutes les Offres ({{ jobListingsCount }})</span>
      </button>
    </div>

    <mat-divider></mat-divider>
    <div class="toolbar">
      <mat-icon class="black-icon-label">calendar_today</mat-icon>
      <div class="mat-menu-content">
        <mat-form-field appearance="fill">
          <mat-label>Date Publication</mat-label>
          <mat-select [(value)]="selectDate" (selectionChange)="filterByDate()">
            <mat-option value="day">Aujourd'hui</mat-option>
            <mat-option value="week">1 Semaine</mat-option>
            <mat-option value="2weeks">2 Semaines</mat-option>
            <mat-option value="month">1 Mois</mat-option>
            <mat-option value="all">Tous</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div class="toolbar">
      <mat-icon class="black-icon-label">work</mat-icon>
      <div class="mat-menu-content">
        <mat-form-field appearance="fill">
          <mat-label class="black-icon-label">
            Postes ({{ jobTitlesCount }})</mat-label
          >
          <mat-select
            [(value)]="selectedJobTitle"
            (selectionChange)="filterByJobTitle()"
          >
            <mat-option
              *ngFor="let jobTitle of jobTitles"
              [value]="jobTitle.jobTitleId"
            >
              {{ jobTitle.title | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div class="toolbar">
      <mat-icon class="black-icon-label">map</mat-icon>
      <div class="mat-menu-content">
        <mat-form-field appearance="fill">
          <mat-label class="black-icon-label"
            >Localité ({{ jobLocationsCount }})</mat-label
          >
          <mat-select
            [(value)]="selectedJobLocation"
            (selectionChange)="filterByJobLocation()"
          >
            <mat-option
              *ngFor="let location of jobLocations"
              [value]="location.jobLocationId"
            >
              {{ location.location | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div class="toolbar">
      <mat-icon class="black-icon-label">location_city</mat-icon>
      <div class="mat-menu-content">
        <mat-form-field appearance="fill">
          <mat-label class="black-icon-label"
            >Company ({{ companyCount }})</mat-label
          >
          <mat-select
            [(value)]="selectedCompany"
            (selectionChange)="filterByCompany()"
          >
            <mat-option *ngFor="let comp of company" [value]="comp.userId">
              {{ comp.nameCompany | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div class="toolbar">
      <mat-icon class="black-icon-label">group_add</mat-icon>
      <div class="mat-menu-content">
        <mat-form-field appearance="fill">
          <mat-label class="black-icon-label"
            >Contrat ({{ contractTypesCount }})</mat-label
          >
          <mat-select
            [(value)]="selectedContractType"
            (selectionChange)="filterByContractType()"
          >
            <mat-option
              *ngFor="let contract of contractTypes"
              [value]="contract.contractTypeId"
            >
              {{ contract.title | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button help-button" routerLink="/help">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="input-group">
            <input
              class="form-control border-end-0 border rounded-pill"
              type="search"
              [formControl]="searchControl"
              placeholder="Recherchez par mot clé..."
              id="example-search-input"
            />

            <span class="input-group-append">
              <button
                class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5"
                type="button"
              >
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>

      <ng-container *ngIf="jobListings?.length; else noJobListings">
        <div
          class="container mt-4"
          *ngFor="let job of jobListings"
          (click)="askJobListingDetail(job.jobListingId)"
        >
          <div class="card p-3 mt-2 mb-3">
            <div class="row">
              <div class="col-md-4">
                <div class="d-flex flex-row mt-3">
                  <img
                    src="../../../../assets/pictures/user/recruiter.jpg"
                    width="100"
                  />
                  <div class="ms-2 d-flex flex-column">
                    <div class="d-flex flex-row align-items-center">
                      <h3>{{ job.user.nameCompany }}</h3>
                    </div>
                    <h3>
                      {{ job.contractType.title }}
                    </h3>
                    <h5>{{ job.jobLocation.location }}</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="mt-2">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h1 class="mb-1 title">
                      {{ job.jobTitle.title }}
                    </h1>
                    <span *ngIf="!isRecruiter && !isAdmin && !isConsultant">
                      <mat-icon
                        class="favorite-icon"
                        (click)="toggleSaveJob(job, $event)"
                        [ngClass]="{ saved: job.isSaved }"
                        >favorite</mat-icon
                      >
                    </span>
                  </div>
                  <br />
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h4 class="mb-1">
                      {{ job.description }}
                    </h4>
                  </div>
                  <br />
                  <div class="d-flex flex-row justify-content-between mt-3">
                    <div class="d-flex flex-column">
                      <span class="days-ago" *ngIf="job?.dayAgo === 0"
                        >Publié: <strong> Aujourd'hui </strong></span
                      >
                      <span
                        class="days-ago"
                        *ngIf="
                          job &&
                          job.dayAgo !== null &&
                          job.dayAgo !== undefined &&
                          job.dayAgo > 0
                        "
                        >Publié il y a :
                        <strong> {{ job.dayAgo }} jours </strong>
                      </span>
                    </div>
                    <div class="d-flex flex-column">
                      <span class="days-ago"
                        >Date limite de postulation:
                        <strong class="deadline">{{
                          job.deadline | date : "dd-MM-yyyy"
                        }}</strong></span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noJobListings>
        <div class="center-container">
          <div class="d-flex align-items-center justify-content-center content">
            <div class="empty-jobs-message">
              <h1>Aucun résultat correspondant</h1>
            </div>
          </div>
        </div>
      </ng-template>

      <!-- Dysplay Error message 
      <p class="error-message" *ngIf="errorMessage">
        {{ errorMessage | translate }}
      </p> -->
      <!-- End Dysplay Error message -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
