<div class="container">
  <h4>Foire aux questions</h4>

  <p class="question">
    Comment puis-je m'inscrire en tant que consultant, recruteur ou candidat sur M&M Consulting ?
  </p>
  <p class="reponse">
    Pour vous inscrire en tant que consultant, recruteur ou candidat, rendez-vous sur la page d'inscription.
     Remplissez le formulaire avec les informations nécessaires. Une fois le formulaire soumis, 
     un consultant vérifiera vos informations et activera votre compte. 
     Vous recevrez un courriel de confirmation une fois votre compte validé.
  </p>

  <p class="question">Que faire si j'ai oublié mon mot de passe ?</p>
  <p class="reponse">
    Si vous avez oublié votre mot de passe, cliquez sur le lien "Mot de passe oublié" sur la page de connexion.
     Suivez les instructions pour réinitialiser votre mot de passe.
      Un courriel avec les étapes à suivre vous sera envoyé.
  </p>

  <p class="question">
    Comment puis-je mettre à jour les informations de mon profil ?
  </p>
  <p class="reponse">
    Après vous être connecté, accédez à votre profil en cliquant sur votre nom ou photo de profil.
     Vous pourrez mettre à jour vos informations personnelles, télécharger un nouveau CV,
      et modifier d'autres détails pertinents. N'oubliez pas de sauvegarder vos modifications.
  </p>

  <p class="question">
    Comment publier une offre d'emploi en tant que recruteur ?
  </p>
  <p class="reponse">
    Connectez-vous à votre compte recruteur et accédez à la section "Publier une offre".
     Remplissez les détails de l'offre d'emploi, y compris le titre du poste, la description,
      les qualifications requises, et le salaire. Soumettez l'offre pour validation.
       Un consultant examinera votre soumission et, si elle est approuvée, 
       l'offre sera publiée sur la plateforme.
  </p>

  <p class="question">Comment puis-je postuler à une offre d'emploi ?</p>
  <p class="reponse">
    Pour postuler à une offre d'emploi, connectez-vous à votre compte candidat, 
    naviguez jusqu'à l'offre qui vous intéresse et cliquez sur "Postuler".
     Votre CV et lettre de motivation, déjà téléchargés sur votre profil, 
     seront soumis automatiquement avec votre candidature. 
     Vous recevrez une notification par courriel une fois votre candidature soumise.
  </p>

  <p class="question">
    Que dois-je faire si je trouve une offre d'emploi intéressante, mais j'ai besoin de plus d'informations ?
  </p>
  <p class="reponse">
    Si vous avez besoin de plus d'informations sur une offre d'emploi,
     vous pouvez utiliser la fonction de contact intégrée pour
      envoyer un message au recruteur. Les coordonnées
       du recruteur sont également disponibles sur l'offre pour un contact direct.
  </p>

  <p class="question">
    Comment puis-je suivre l'état de ma candidature ?
  </p>
  <p class="reponse">
    Connectez-vous à votre compte candidat et accédez à la section "Mes candidatures".
     Vous pourrez voir le statut de chacune de vos candidatures, si elles sont
      en cours de traitement, acceptées ou refusées. Vous recevrez également
       des notifications par courriel pour chaque mise à jour de statut.
  </p>

  <p class="question">Puis-je recevoir des notifications pour les nouvelles
     offres d'emploi qui correspondent à mon profil ?</p>
  <p class="reponse">
    Oui, vous pouvez activer les notifications pour les nouvelles offres
     d'emploi correspondant à votre profil. Allez dans les paramètres 
     de votre compte et configurez vos préférences de notification pour recevoir des alertes par courriel.
  </p>

  <p class="question">
    Comment organiser un rendez-vous d'entretien ?
  </p>
  <p class="reponse">
    Si un recruteur est intéressé par votre profil, un consultant organisera
     un rendez-vous d'entretien. Vous recevrez une notification par courriel
      avec les détails du rendez-vous. Vous pouvez également voir
       et gérer vos rendez-vous dans la section "Mes rendez-vous" de votre tableau de bord.
  </p>

  <p class="question">
    Que faire si j'ai des problèmes techniques ou besoin d'assistance ?
  </p>
  <p class="reponse">
    Pour toute assistance technique ou si vous rencontrez des problèmes avec la plateforme,
     vous pouvez contacter notre support technique en envoyant un courriel
      à support&#64;mmconsulting.com ou en appelant notre service d'assistance
       au +32 01 234 567 88. Nous sommes disponibles pour vous aider.
  </p>
</div>
