.display {
  border: solid #dfddcb;
}

.error-message {
  color: rgb(
    251,
    8,
    8
  ); 
  font-weight: bold;
  margin-top: 5px;
  width: 100%; 
}

.is-invalid {
  border-color: #dc3545;
}

.name {
  font-weight: bold;
}

.btn-outline-secondary:focus, .btn-outline-secondary:active {
  box-shadow: none; /* Enlève l'ombre intérieure sur le focus */
  background-color: transparent; /* Garde le fond transparent */
  border-color: #ced4da; /* La couleur de bordure souhaitée */
}


