<!-- Password Reset 2 - Bootstrap Brain Component -->
<div class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm display">
          <div class="row">
            <div class="col-12">
              <div class="mb-5">
                <h2 class="h3 text-center">
                  {{ "reset-pwd.title" | translate }}
                </h2>
                <h3 class="fs-6 fw-normal text-secondary m-0">
                  {{ "reset-pwd.text" | translate }}
                </h3>
              </div>
              <!-- Dysplay Error message -->
              <p class="error-message" *ngIf="errorMessage">
                {{ errorMessage | translate }}
              </p>
              <!-- End Dysplay Error message -->
            </div>
          </div>
          <form
            [formGroup]="PasswordRessetForm"
            (ngSubmit)="resetPasswordConfirmation()"
          >
            <div class="row gy-3 gy-md-4 overflow-hidden">
              <!-- Pour le champ 'email' -->
              <div class="col-12">
                <div class="form-group">
                  <label for="email" class="name"
                    >Email<span class="required-field">*</span></label
                  >
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    formControlName="email"
                    [class.is-invalid]="
                      email?.invalid && (email?.dirty || email?.touched)
                    "
                    id="email"
                  />
                  <div
                    *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                    class="error-message"
                  >
                    <div *ngIf="email?.errors?.['required']">
                      {{ "this-field-is-required" | translate }}
                    </div>
                    <div *ngIf="email?.errors?.['email']">
                      {{ "please-enter-a-valid-email-address" | translate }}
                    </div>
                    <div *ngIf="email?.errors?.['maxlength']">
                      {{
                        "email-can-be-maximum-70-characters-long" | translate
                      }}
                    </div>
                    <div *ngIf="email?.errors?.['pattern']">
                      {{ "errors.emailInvalid" | translate }}
                    </div>
                  </div>
                </div>
              </div>
              <!-- End 'email' -->

              <!-- Pour le champ 'password' -->
              <div class="col-12">
                <div class="form-group">
                  <label for="password" class="name">
                    {{ "change-new-password" | translate
                    }}<span class="required-field">*</span>
                  </label>
                  <div class="input-group">
                    <input
                      [type]="showPassword ? 'text' : 'password'"
                      class="form-control"
                      placeholder="{{ 'change-new-password' | translate }}"
                      formControlName="password"
                      [class.is-invalid]="
                        password?.invalid &&
                        (password?.dirty || password?.touched)
                      "
                      id="password"
                    />
                   
                      <button
                        type="button"
                        class="btn btn-outline-secondary"
                        (click)="toggleShowPassword()"
                      >
                        <i class="{{ showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'  }}" ></i>
                      </button>
                  </div>
                  <div
                    *ngIf="
                      password?.invalid &&
                      (password?.dirty || password?.touched)
                    "
                    class="error-message"
                  >
                    <div *ngIf="password?.errors?.['required']">
                      {{ "this-field-is-required" | translate }}
                    </div>
                    <div *ngIf="password?.errors?.['maxlength']">
                      {{
                        "password-cannot-be-more-than-250-characters-long"
                          | translate
                      }}
                    </div>
                    <div *ngIf="password?.errors?.['pattern']">
                      {{ "errors.passwordRequirements" | translate }}
                    </div>
                  </div>
                </div>
              </div>
              <!-- Fin 'password' -->

              <!-- Pour le champ 'code' -->
              <div class="col-12">
                <div class="form-group">
                  <label for="code" class="name">
                    {{ "change-code" | translate
                    }}<span class="required-field">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Code"
                    formControlName="code"
                    [class.is-invalid]="
                      code?.invalid && (code?.dirty || code?.touched)
                    "
                  />
                  <div
                    *ngIf="code?.invalid && (code?.dirty || code?.touched)"
                    class="error-message"
                  >
                    <div *ngIf="code?.errors?.['required']">
                      {{ "this-field-is-required" | translate }}
                    </div>
                    <div *ngIf="code?.errors?.['pattern']">
                      {{ "errors.codeError" | translate }}
                    </div>
                  </div>
                </div>
              </div>
              <!-- End 'name' -->
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-secondary btn-lg" type="submit">
                    {{ "reset-pwd.btn" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-12">
              <hr class="mt-5 mb-4 border-secondary-subtle" />
              <div class="d-flex gap-4 justify-content-center">
                <a href="/sigin" class="link-secondary text-decoration-none">{{
                  "change-language.login" | translate
                }}</a>
                <a href="/role" class="link-secondary text-decoration-none">{{
                  "change-language.signUp" | translate
                }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
