<!-- Password Reset 2 - Bootstrap Brain Component -->
<div class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm display">
          <div class="row">
            <div class="col-12">
              <div class="mb-5">
                <h2 class="h3 text-center">
                  {{ "reset-pwd.title" | translate }}
                </h2>
                <h3 class="fs-6 fw-normal text-secondary m-0">
                  {{ "reset-pwd.text" | translate }}
                </h3>
              </div>
              <!-- Dysplay Error message -->
              <p class="error-message" *ngIf="errorMessage">
                {{ errorMessage | translate }}
              </p>
              <!-- End Dysplay Error message -->
            </div>
          </div>
          <form [formGroup]="resetPassForm" (ngSubmit)="resetPasswordDemand()">
            <div class="row gy-3 gy-md-4 overflow-hidden">
              <div class="col-12">
                <!-- Pour le champ 'email' -->
                <div class="form-group">
                  <label for="email" class="name"
                    >Email<span class="required-field">*</span></label
                  >
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    formControlName="email"
                    [class.is-invalid]="
                      email?.invalid && (email?.dirty || email?.touched)
                    "
                    id="email"
                  />
                  <div
                    *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                    class="error-message"
                  >
                    <div *ngIf="email?.errors?.['required']">
                      {{ "this-field-is-required" | translate }}
                    </div>
                    <div *ngIf="email?.errors?.['email']">
                      {{ "please-enter-a-valid-email-address" | translate }}
                    </div>
                    <div *ngIf="email?.errors?.['maxlength']">
                      {{
                        "email-can-be-maximum-70-characters-long" | translate
                      }}
                    </div>
                    <div *ngIf="email?.errors?.['pattern']">
                      {{ "errors.emailInvalid" | translate }}
                    </div>
                  </div>
                </div>
                <!-- End 'email' -->
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-secondary btn-lg" type="submit">
                    {{ "reset-pwd.btn" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-12">
              <hr class="mt-5 mb-4 border-secondary-subtle" />
              <div class="d-flex gap-4 justify-content-center">
                <a href="/login" class="link-secondary text-decoration-none">{{
                  "change-language.login" | translate
                }}</a>
                <a href="/role" class="link-secondary text-decoration-none">{{
                  "change-language.signUp" | translate
                }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
