.display {
  border: solid #dfddcb;
}


.error-message {
  color: rgb(
    251,
    8,
    8
  ); 
  font-weight: bold;
  margin-top: 5px;
  width: 100%; 
}

.is-invalid {
  border-color: #dc3545;
}

.name {
  font-weight: bold;
}
